<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geotools.gistools.mapper.RasterMappper">
<insert id="insertRater" parameterType="java.util.List">
    insert into sx_raster(rastertype,rastername,ratertime,rmax,rmin,mean,stddev) values
   <foreach collection="list" item="it" separator=",">
       (#{it.rastertype},#{it.rastername},#{it.ratertime},#{it.mean},#{it.stddev})
   </foreach>
</insert>
    <select id="getMaxtime" parameterType="java.lang.String">
        select max(${fieldMax}) as pValue from sx_raster
    </select>

</mapper>