<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geotools.gistools.mapper.TileMapper">

  <select id="getSimpleTile" parameterType="com.geotools.gistools.beans.TileBox"  resultType="Map">
     SELECT
        ST_AsMVT (tile) tile
        FROM
        (
        SELECT
        st_asmvtgeom (t.geom,
        st_makeenvelope (${Xmin}, ${Ymin}, ${Xmax},${Ymax}, 4326),
        4096,
        0,
        TRUE
        ) AS geom
        FROM
        ${layerName} t
        ) AS tile
        WHERE
        tile.geom IS NOT NULL;


    </select>

</mapper>